.foot {
    background-color: #f1d5d5;
    color: #333;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.title{
    margin-right: auto;
}

.social-container {
    margin-left: auto;
}

.socialLinks a {
    color: #333;
    text-decoration: none;
    padding: 6px;
    margin: 5px;
}

.socialLinks a {
    display: inline-block;
    transition: background-color 500ms ease, color 500ms ease, transform 300ms ease-in;
}

.socialLinks a:hover {
    color: #f1356d;
    transform: translateY(-5px);
}
